<%- include ("./partials/head") %>
    <h1>hello world</h1>
    <!-- <section>
        <h2>Get Scrambled</h2>
        <ul></ul>
        <form>
            <input type="text" autocomplete="off">
            <button class="btn">Send</button>
        </form>
    </section>
    <section class="game">
        <h3 class="msg"></h3>
        <button>Click here to start</button>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script> -->

    <%- include ("./partials/footer.ejs") %>