<%- include ("./partials/head.ejs") %>

    <main>
        <section id="nickWrap">
            <p>Enter a username:</p>
            <p id="nickError"></p>
            <form id="setNick" action="game">
                <input type="text" id="nickname">
                <button id="btnLogin">Send</button>
            </form>
        </section>
    </main>

    <%- include ("./partials/footer.ejs") %>