<script src="https://cdn.jsdelivr.net/npm/random-words@1.1.1/index.min.js" defer></script>
<script type="module" src="js/script.js"></script>
<script type="module" src="js/game.js"></script>
</body>

</html>